  #+tblname: requirements-table
  |--------------+----------+---------+------------------------------------------------------------------------+-----------------------------------------------|
  | name         | equality | version | description                                                            | url                                           |
  |--------------+----------+---------+------------------------------------------------------------------------+-----------------------------------------------|
  | gym          | >=       |  0.23.1 | Toolkit for developing and comparing reinforcement learning algorithms | https://gym.openai.com/                       |
  |--------------+----------+---------+------------------------------------------------------------------------+-----------------------------------------------|